Personalized web-based learning app for
teaching math word problems to primary school kids

System functionalities
The system automatically
recommends the next problem to the student
determines whether a student has mastered a concept.
provides feedback after each problem
displays the student learning progress through a dashboard

Work-flow of the system

. The student logs into the system.
. The system loads the ZPD (Zone of proximal development) of the student.
. During the learning session:
A concept from the ZPD is chosen by the Activity Selection algorithm (KL-UCB).
A question based on the concept is presented to the student.
Personalized feedback is provided based on the student response.
o The mastery-detection procedure checks the mastery of the concept and updates the ZPD.
.
A dashboard displays student learning progress.

Major tasks

. Define key concepts and design the corresponding concept graph.
. Curate problem sets aligned with each concept.
. Implement a multi-armed bandit algorithm (KL-UCB) for adaptive concept selection.
. Apply a sliding window technique to automatically detect learner mastery.
. Develop personalized feedback mechanisms based on student responses.
. Build the user interface (UI).
. Create a dashboard to visualize student progress, including mastery levels and practice history.