footer {
  // color: #9a8c98;
  color: #f2e9e4;
  background-color: #22223B;
  // background-color: #17172b;
  margin-top: auto;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px 0;
  box-shadow:
    #6d6c6c3b 0px 0px 5px 0px,
    #131212 0px 0px 1px 0px;
  // border-radius: 20px;
  // margin: 10px;
}
