.match-container {
  position: relative;
  width: 100%;
  //   max-width: 600px;
  margin: 0 auto;
  padding: 1rem 2rem;
  user-select: none; // Stop text highlighting
}

.match-svg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; // Let clicks pass through to dots
  z-index: 10;
}

.match-columns {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 4rem;
}

.match-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  //   width: 45%;
  width: 32%;
}

// right side items
.match-item {
  display: flex;
  align-items: center;
  color: #3d405b;
  background: white;
  border: 2px solid #f4f1de;
  border-radius: 12px;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  // color: red;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  position: relative;
  &:hover {
    border: 2px solid #3d405b;
  }
}

.right-item {
  justify-content: center;
  gap: 1rem;
}

// .match-dot {
//   width: 24px;
//   height: 24px;
//   background-color: #E07A5F;
//   border-radius: 50%;
//   cursor: pointer;
//   z-index: 20;
//   border: 3px solid white;
//   box-shadow: 0 0 0 2px #E07A5F;
//   transition: transform 0.2s;

//   &:hover {
//     transform: scale(1.3);
//   }
// }

.submit__match__div {
  text-align: center;
  margin-top: 1.5rem;
}
.submit__match__btn {
  margin-top: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: cursive;
  background-color: #def4e8;
  color: #3d405b;
  font-weight: 700; // font-bold
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.8s ease;
  animation: popBounce 0.5s ease-in-out;

  &:hover {
    color: #e07a5f;
    transform: none;
    transform: scale(1.2);
  }
  cursor: pointer;
}

.submit__match__btn__submitted {
  background-color: #3d405b;
  color: #f2cc8f;
  font-size: 2rem;
  &:disabled,
  &--submitted {
    cursor: default;
    transform: none !important; /* Stops the hover pop */
  }
}

/* Icon equation styles */
.icon-equation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-group {
  display: flex;
  gap: 0.25rem;
}

.left-item {
  justify-content: center;
  // color: #ccbf6d;
  color: #e07a5f;
}

.match-icon {
  color: #e07a5f;
  font-size: 1.4rem;
}

.match-operator {
  font-weight: bold;
  font-size: 1.5rem;
  color: #e07a5f;
  margin: 0 0.2rem;
}

/* --- Pulse Animation for the Hint Line --- */
.match-hint-line {
  opacity: 0.6;
  pointer-events: none; /* So it doesn't block clicks */
  animation: pulseHintLine 2s infinite linear;
}

@keyframes pulseHintLine {
  0% {
    stroke-dashoffset: 32; /* Makes the dashes slide forward */
    opacity: 0.3;
  }
  50% {
    opacity: 0.8; /* Pulses brighter */
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.3;
  }
}
