.selection {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  &__design {
    padding: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Slight lift on hover
    border-radius: 50px;
    font-size: 4.5rem;
    font-family: cursive;
    font-weight: bold;
    transition: all 0.7s;
    height: 70%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #22223b;
      color: white;
      cursor: pointer;
      border: #22223b;
      box-shadow: 0 4px 8px #ff2f00; // Slight lift on hover
    }
  }
}
